h1 {
    text-align: center;
    color: rgb(19, 96, 129);

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h2 {
    text-align: center;
    color: rgb(243, 137, 51);

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#next {
    display: none;
}

#input {
    display: block;
    width: 30%;
    margin: auto;
}

#site {
    font-style: italic;
}

button {
    border: none;
    padding: 5px 10px;
    display: inline-block;
    font-weight: bold;
    background-color: rgba(255, 211, 67, 0.901);
    border-radius: 2.5%;
    margin: 0 auto;
    color: rgb(25, 24, 23);
}

#attempts {
    text-align: center;
}

#response {
    text-align: center;
}

#center {
    text-align: center;
    margin-top: 2%;
}

li {
    padding: 10px;
}